:root {
  --hue: 200;
  --fill-color: hsl(var(--hue), 100%, 50%);
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

svg {
  --x: 50;
  --y: 50;
  position: absolute;
  top: calc(var(--y) * 1vh);
  left: calc(var(--x) * 1vw);
  transform: translate(-50%, -50%);
  fill: var(--fill-color);
  width: 30%;
}
